html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.world {
  width: 1200px;
  height: 600px;

  position: relative;

  border: 2px solid black;
}

.hero {
  width: 32px;
  height: 32px;

  position: absolute;
  bottom: 0;
  left: 0;

  background-color: coral;

  transition: left .05s linear, bottom .05s linear;
}
